body{
    color: #e9e9e9;
    background: #2c6e49;
    font-family: Trebuchet MS, sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.header-container .title{
    text-align: center;
    font-size: 20px;
}

.header-container .avatar{
    text-align: center;
}

.header-container .avatar img{
    border-radius: 50%;
    border: 4px solid #4c956c;
    padding: 3px;
    width: 200px;
    height: 200px;
}

.header-container .link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #4c956c;
    border-radius: 20px;
    width: 350px;
    padding: 3px;
    margin: 20px;
}

.header-container .link img{
    border-radius: 50%;
    border: 3px solid #2c6e49;
    padding: 2px;
    width: 35px;
    height: 35px;
    margin: 10px;
}

.main-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.main-container .info-user{
    display: flex;
    flex-direction: column;
    background: #4c956c;
    border-radius: 20px;
    width: 600px;
    padding: 20px;
}

.main-container .info-user .info-user__title{
    text-align: center;
}

.main-container .info-user .info-user__list{
    font-size: 18px;
    line-height: 1.75;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

#link-project{
    color: #e9e9e9;
}

@media screen and (max-width: 700px){
    .header-container .link{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #4c956c;
        border-radius: 20px;
        width: 320px;
        padding: 3px;
        margin: 20px;
    }

    .header-container .link img{
        border-radius: 50%;
        border: 3px solid #2c6e49;
        padding: 2px;
        width: 35px;
        height: 35px;
        margin: 8px;
    }

    .main-container .info-user{
        display: flex;
        flex-direction: column;
        background: #4c956c;
        border-radius: 20px;
        width: 275px;
        padding: 25px;
    }
}

@media screen and (max-width: 350px){
    .header-container .link{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #4c956c;
        border-radius: 20px;
        width: 250px;
        padding: 2px;
        margin: 20px;
    }

    .header-container .link img{
        border-radius: 50%;
        border: 3px solid #2c6e49;
        padding: 2px;
        width: 35px;
        height: 35px;
        margin: 2px;
    }

    .main-container .info-user{
        display: flex;
        flex-direction: column;
        background: #4c956c;
        border-radius: 20px;
        width: 205px;
        padding: 25px;
    }
}
